<nav id="nav">
	{% assign url = page.url | remove:'index.html' %}
	<ul class="nav-lang-select">
			<li>
				<a href="{{ '/' | prepend: site.baseurl }}"{% if url == '/' %}class="nav-active"{% endif %}>fi</a>
			</li>
			<li>
					<a href="{{ '/en/' | prepend: site.baseurl }}"{% if url == '/en/' %}class="nav-active"{% endif %}>en</a>
			</li>
	</ul>
	<ul class="container">
		<li><a href="#top">Top</a></li>
		<li><a href="#work">Work</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="{{ '/blog/' | prepend: site.baseurl }}">Blog</a></li>
	</ul>
</nav>
