---
layout: blog
---

<div class="post-content">

  <div class="date">{{ page.date | date: "%b %d, %Y" }}</div>

  <article class="box">

    {% assign path = images/{{ page.image }} %}

    {% if page.image %}
      {% responsive_image_block %}
        path: images/{{ page.image }}
        alt: {{ page.image_alt }}
        title: {{ page.image_alt }}
      {% endresponsive_image_block %}
    {% endif %}

    <h2 class="title">{{ page.title }}</h2>

    {% if page.subtitle %}
      <h3>{{ page.subtitle }}</h3>
    {% endif %}

    {{ content }}

    <!-- <a href="{{ page.url }}">Read more</a>  -->

  </article>

</div>